.DS_Store
*.local
dist
dist-ssr
node_modules
# **/_*
*.log
yarn.lock
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
public
.env
.env.build
.vercel
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.env
.env.build
.vercel
